http://www.openvstorage.org, http://openvstorage.org {
    bind 0.0.0.0
    redir https://www.openvstorage.org
}

https://www.openvstorage.org {
    bind 0.0.0.0
    tls ../certs/ovs.org.crt.pem ../certs/ovs.org.key.pem
    gzip
    root www.openvstorage.org/site

    git {
        repo git@github.com:openvstorage/ovs-org.git
        branch production
        interval 300
        key ../keys/id_rsa
        path ../..
        then hugo -s www.openvstorage.org
    }
}
