body{
    padding-top: 31px;
}
.home .home-textbox{
    padding: 70px 0 30px 0 !important;
}
.home .home-textbox h2 {
    font-size: 39px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;
}
.home .home-textbox p {
    text-align: justify;
    font-size: 18px;
    font-weight: 300;
}
.medium-boxes{
    padding-top: 35px;
    margin-bottom: 75px;
}
.medium-boxes h4{
    font-size: 22px;
    font-weight: 400;
}
.medium-boxes p{
    text-align: justify;
    font-size: 18px;
    font-weight: 300;
}
.architecture-box img{
    max-width: 100%;
    max-height: 600px;
    margin-bottom: 45px;
}
.architecture-box h2{
    font-size: 39px;
    font-weight: 400;
    margin: 55px 0 0 0;
    text-align: center;
}
footer {
    background-color: #ECECEC;
    padding: 25px 0;
    margin-top: 35px;
}
.navbar-brand{
    font-size: 33px;
    line-height: 13px;
    font-weight: 400;
}
.blue-bar{
    background-color: #3498db;
    background-image: url(../img/breadcrumbs.png);
}
.blue-bar h1{
    color: #fff;
    font-size: 1.4em;
    margin-left: 1.1em;
    min-height: 3.4em;
    line-height: 3.4em;
    margin-top: 38px;
}
.navbar-default .navbar-nav>li>a, .dropdown-menu>li>a{
    font-weight: 500;
    color: #333;
}
.navbar-default .navbar-nav>li>a:hover, .dropdown-menu>li>a:hover{
    color: #26B3EB;
}
.page-container{
    font-size: 15px;
    font-weight: 500;
    padding-top: 2em;
    padding-left: 2.3em;
    padding-bottom: 3em;
}
.navbar-default .navbar-brand{
    color: #07304E;
}
.navbar-fixed-top{
    border-top: 2px solid #26B3EB !important;
    min-height: 60px;
    padding-top: 2px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
    color: #26B3EB;
}
.intro-social-buttons a{
    background-color: #26B3EB !important;
    color: #fff !important;
    border-color: #228AB4 !important;
}
.intro-social-buttons a:hover{
    background-color: #47BEED !important;
    color: #fff !important;
    border-color: #2B9ECC !important;
}
.intro-video{
    margin-bottom: 30px;
}
p.copyright{
    margin: -5px;
    font-weight: 500;
    font-size: 13px;
    color: #000;
}
#contact-form .form-control{
    margin-bottom: 1.5em;
}

/* Sticky footer fix */
html, body{
    height: 100%;
}
#wrap{
    min-height: 100%;
}
#main{overflow:auto;
    padding-bottom: 60px;
}
#footer{
    position: relative;
    margin-top: -60px;
    height: 60px;
    clear:both;
}
img {
    max-width: 100%;
    border: 1px solid #DFDFDF;
}
.internal-ref{
    display: block; min-height: 40px;
}